@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

*{
    font-family: 'Darumadrop One', cursive;
}

h1{
    font-size: 2.5rem;
    color: black   
}

  .card{
    margin:  3% auto ;
  }
.introMessage{
  font-size: 1.6rem;
}

  
  